.a {
    padding-left: 300px;
    font-size: 20px;
    
    
}

.header_add h1{
    padding-top: 100px;
    text-align: center;
    color: #FF3333;
}
.a .form-add span{
    font-size: 20px;
    color: cornsilk;
}
.a .form-add input{
    width: 800px;
    height: 30px;
}
.a .form-add .form-control-dm{
    width: 400px;
    height: 30px;
}
.a .form-add .btn-save{
    width: 70px;
    background: #FF3333;
    border: 1px solid #ffffff ;
    color: floralwhite;

}
.a .form-add .btn-save:hover{
    background-color: #000000 ;
}